/* CSS IN MOBILE */

@media only screen and (max-width: 450px) {
    #container {
        margin-top: 90px;
        width: 350px;
        height: 440px;
        background-color: white;
        border-radius: 25px;
    }
    .stringBox {
        width: 290px;
        height: 100px;
        border-radius: 25px;
        padding-right: 10px;
        margin: 30px 25px;
        font-size: 50px;
        box-shadow: inset 0px 0px 10px 0.5px rgba(0, 0, 0, 0.164);
    }
    .number {
        height: 50px;
        width: 50px;
        font-size: 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.164);
    }
    #boxNumber {
        width: 300px;
        margin: 15px 25px;
    }
    #iconEqual {
        width: 112.5px;
        border-bottom-right-radius: 25px;
    }
    #iconDel {
        font-size: 20px;
        background-color: blue;
        color: white;
    }
    #iconAc {
        font-size: 20px;
        border-top-right-radius: 25px;
        background-color: blue;
        color: white;
    }
    #iconAns {
        font-size: 20px;
    }
    #number7 {
        border-top-left-radius: 25px;
    }
    #number0 {
        border-bottom-left-radius: 25px;
    }
}